@charset "utf-8";
/*__base styles__*/
html {width:100%; height:100%;}
body {height:100%; font-family: Arial, Helvetica, sans-serif; font-size:12px; min-width:1000px; color:#000; background:#fff;}

a:link, a:visited { text-decoration:none; color:#5F6262; }
a:hover {text-decoration:underline;}

.clear { clear:both; content:"."; zoom:1; float:none !important; text-indent:-5000px; font-size:0px !important; line-height:0px !important; }
.he {height:140px;}
.fRight {float:right;}

@font-face { font-family: 'CenturyGothic'; src: url('../fonts/gothic.eot'); src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype'), url('../fonts/gothic.svg#gothic') format('svg'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'CenturyGothic-Bold'; src: url('../fonts/gothicb.eot'); src: url('../fonts/gothicb.eot?#iefix') format('embedded-opentype'), url('../fonts/gothicb.woff') format('woff'), url('../fonts/gothicb.ttf') format('truetype'), url('../fonts/gothicb.svg#gothicb') format('svg'); font-weight: normal; font-style: normal;}

.clearfix:after {content:""; display:block; clear:both;}
*html .clearfix {height:1%;}
*:first-child+html .clearfix {height:1%;}

h1,h2,h3,h4,h5,h6 {font-weight:normal; color:#000; font-family: 'CenturyGothic-Bold', Arial, Helvetica, sans-serif;}
h1 {font-size:16px; line-height:17px;}
h2 {font-size:15px; line-height:17px;}
h3 {font-size:13px;}
h4 {font-size:12px;}
h5 {font-size:11px;}
h6 {font-size:12px; font-family: 'CenturyGothic';}

.wrapper {position:relative; width:1000px; z-index:1; margin:0 auto; min-height:100%; height:auto;}
*html .wrapper { height:100%; }

/*header*/
.mainTop {background:url(../images/top_bg.png) left bottom repeat-x; padding:30px 19px 12px 19px; font-size:11px; margin-bottom:52px; font-family: 'CenturyGothic';}
.mainTop .logo {background:url(../images/logo_milan.png); width:292px; height:60px; float:left;}
.mainTop .logoFlowers {background:url(../images/logo_milan_flowers.png); width:329px; height:75px; margin:-11px -22px -4px -15px; }
.mainTop .side { float:right; margin:16px 0 0 0;}
.mainTop .side a {display:inline-block; width:27px; height:26px; margin-left:2px;}
.mainTop .side .rus { background:url(../images/icons/rus.png);}
.mainTop .side .eng { background:url(../images/icons/eng.png);}
.mainTop .side .facebook { background:url(../images/icons/facebook.png);}
.mainTop .side .twitter { background:url(../images/icons/twitter.png);}
.mainTop .side a:hover, .mainTop .side .cur { background-position:bottom;}
.mainTop ul { float:left; margin:17px 0 0 45px; font-size:14px;}
.mainTop ul li { float:left; background:url(../images/bullets/bullet_top.png) left 2px no-repeat; padding-left:12px; margin-left:11px;}
.mainTop ul li:first-child { background:none; padding-left:0; margin-left:0;}
.mainTop ul li a {color:#000;}
.mainTop ul li a:hover { color:#5F6262; text-decoration:none;}

/*splash screen*/
.splashContainer { padding:200px 0 0 18px; position:relative;}
.splashContainer a {display:block; float:left; height:197px; -webkit-transition: all 200ms linear; -moz-transition: all 200ms linear; -ms-transition: all 200ms linear; -o-transition: all 200ms linear; transition: all 200ms linear;}
.splashContainer a:hover { background-position:bottom;}
.splashContainer .rus {background:url(../images/splash/rus.png); width:517px; margin-right:13px;}
.splashContainer .eng {background:url(../images/splash/eng.png); width:436px;}
.visuals { position:absolute; display:none;}
.snowMode .visuals, .flowersMode .visuals {display:block;}
.snowMode .splashContainer .sn1 { background:url(../images/snows/sn1.png); width:32px; height:28px; left:562px; top:148px;}
.snowMode .splashContainer .sn2 { background:url(../images/snows/sn2.png); width:29px; height:25px; left:73px; top:186px;}
.snowMode .splashContainer .sn3 { background:url(../images/snows/sn3.png); width:39px; height:40px; left:528px; top:180px;}
.snowMode .splashContainer .sn4 { background:url(../images/snows/sn3.png); width:39px; height:40px; left:332px; top:203px;}
.snowMode .splashContainer .sn5 { background:url(../images/snows/sn4.png); width:95px; height:90px; left:-27px; top:199px;}
.snowMode .splashContainer .sn6 { background:url(../images/snows/sn5.png); width:58px; height:50px; right:27px; top:230px;}
.snowMode .splashContainer .sn7 { background:url(../images/snows/sn6.png); width:78px; height:79px; right:-20px; top:304px;}
.snowMode .splashContainer .sn8 { background:url(../images/snows/sn7.png); width:108px; height:93px; left:483px; top:345px;}
.snowMode .splashContainer .sn9 { background:url(../images/snows/sn5.png); width:58px; height:50px; left:57px; top:368px;}
.snowMode .splashContainer .sn10 { background:url(../images/snows/sn2.png); width:29px; height:25px; left:273px; top:486px;}
.snowMode .splashContainer .sn11 { background:url(../images/snows/sn1.png); width:32px; height:28px; right:262px; top:548px;}

.flowersMode .splashContainer .sn1 { background:url(../images/flowers/fl1.png); width:148px; height:137px; left:-40px; top:104px;}
.flowersMode .splashContainer .sn2 { background:url(../images/flowers/fl2.png); width:64px; height:64px; left:-24px; top:358px;}
.flowersMode .splashContainer .sn3 { background:url(../images/flowers/fl3.png); width:83px; height:85px; left:534px; top:362px;}
.flowersMode .splashContainer .sn4 { background:url(../images/flowers/fl4.png); width:134px; height:151px; right:-53px; top:285px;}

/*side col*/
.sideCol { float:left; width:220px; font-size:12px; padding:0 10px 0 94px}
.sideCol h2 { margin-bottom:17px;}
.sideCol a { color:#000;}
.sideCol a:hover { color:#5F6262;}
.sideCol .menu { padding:9px 0 12px 0;}
.sideCol .menu > li { padding-bottom:4px;}
.sideCol .menu > li a { display:inline-block; padding-right:9px; padding-bottom:1px; text-decoration:none;}
.sideCol .menu .hasSubMenu > a { background:url(../images/arrows/arrow_left-menu.png) right 5px no-repeat;}
.sideCol .menu .expanded > a {background-position:right -20px;}
.sideCol .menu li > ul { display:none; font-size:11px; padding:1px 0 6px 5px;}
.sideCol .menu li > ul ul {padding:4px 0 6px 5px;}
.sideCol .menu .expanded > ul {display:block;}
.sideCol .menu .cur > a {color:#5F6262;}
.sideCol .partners { padding-top:88px;}
.sideCol .partners a { color:#5F6262;}
.sideCol .partners p { padding-bottom:6px; padding-top:6px; line-height:14px;}

/*main col*/
.mainCol { float:right; width:580px; padding-right:64px;}
.social { float:right; clear:right; margin:10px 3px 10px 0;}
.previewAll { margin-bottom:20px;}
.previewAll li { float:left; margin:0 3px 3px 0;}
.previewAll li img {display:block;}

/*news col*/
.newsCol { padding-top:5px; line-height:16px;}
.newsCol img { display:inline-block; margin-right:9px; margin-bottom:8px;}
.newsCol h6 { clear:both; margin-bottom:11px;}
.newsCol p { padding-bottom:21px;}
.newsCol .social { margin-top:-11px;}
.newsCol .newsContainer { padding-bottom:15px;}
.newsCol .newsContainer img { float:left; margin:3px 15px 0 0;}
.newsCol .newsContainer .col { display:table; zoom:1; min-width:375px;}
.newsCol .newsContainer .link {float:right;}

/*gallery col*/
.galleryCol { position:relative; z-index:1;}
.galleryCol h3 { margin-bottom:31px;}
.galleryCol .ad-gallery { margin-bottom:15px;}
.galleryCol .nextProject {right:35px; background:url(../images/arrows/corner_r.png);}
.galleryCol .prevProject {left:-39px; background:url(../images/arrows/corner_l.png);}
.galleryCol .nextProject, .galleryCol .prevProject { position:absolute; top:35%; width:25px; height:81px; background-repeat:no-repeat; background-position:center top;}
.galleryCol .nextProject:hover, .galleryCol .prevProject:hover {background-position:center bottom;}
.galleryCol .sectionOverview { padding-bottom:20px;}

/*recommendation col*/
.galleryRecom { padding-top:3px;}
.galleryRecom .previewAll li { border:1px solid #a3a4a4;}

/*contacts col*/
.contactsCol h3 { padding-bottom:3px;}
.contactsCol .map { float:right; width: 281px; height:275px;}
.contactsCol .form { float:left; padding:40px 0 0 0; width:280px;}
.contactsCol .form .row { padding:2px 0 2px 80px;}
.contactsCol .form .row label { float:left; width:80px; margin-left:-80px; padding-top:1px;}
.contactsCol .form .row label.error { color: #ff0000;}
.contactsCol .form .row input[type="text"],
.contactsCol .form .row input[type="password"],
.contactsCol .form .row textarea {width:100%; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; box-sizing:border-box;}
.contactsCol .form .row textarea {height:80px;}
.contactsCol .form .row .btn{ background:#8d8d8d; border:none; -webkit-border-radius:3px; border-radius: 3px; color:#fff; cursor:pointer; text-align:center; width:100px; margin:0 0 10px 50px; display:inline-block; height:18px; vertical-align:middle; font-size:10px; font-family:Verdana, Geneva, sans-serif; padding-top:3px;}
.contactsCol .form .row .btn:hover {text-decoration:none;}
.contactsCol .form .result {font-weight: bold; margin-top: 10px;}

/*partners col*/
.partnersCol h3 { margin-bottom:8px;}
.partnersCol p { margin-bottom:8px;}
.partnersCol .col {float:left; width:49%; padding-left:2px;}


/*footer*/
.mainFooter{height:43px; width:959px; margin:-70px auto 0; position:relative; z-index:10; background:url(../images/top_bg.png) left top repeat-x; font-size:12px; padding:27px 21px 0 20px; font-family: 'CenturyGothic';}
.splash .mainFooter {text-align:center;}
.splash .mainFooter h2 {font-family: 'CenturyGothic'; position:absolute; top:-30px; text-align:center; width:100%; left:4px; font-size:24px;}
.mainFooter .side {float:right;}
.mainFooter .side span {display:inline-block; background:#000; color:#fff; padding:1px 1px 0px 1px; margin-right:-1px; line-height:13px;}
.mainFooter .side span:first-child { margin-left:5px;}
.mainFooter ul { float:left; margin:-16px 0 0 336px;}
.mainFooter ul li {float:left; background:url(../images/bullets/bullet_top.png) left 1px no-repeat; padding-left:10px; margin-left:9px;}
.mainFooter ul li:first-child {background:none; padding-left:0; margin-left:0;}
.mainFooter ul li a {color:#000;}
.mainFooter ul li a:hover { color:#5F6262; text-decoration:none;}

.snowMode .mainFooter .sn1 { background:url(../images/snows/sn1.png); width:32px; height:28px; left:27px; bottom:88px;}
.snowMode .mainFooter .sn2 { background:url(../images/snows/sn5.png); width:58px; height:50px; right:612px; bottom:79px;}
.snowMode .mainFooter .sn3 { background:url(../images/snows/sn2.png); width:29px; height:25px; right:590px; bottom:114px;}
.snowMode .mainFooter .sn4 { background:url(../images/snows/sn5.png); width:58px; height:50px; right:27px; bottom:130px;}
